# Specific to the workspace layout: Direnv hidden files
/**/.direnv/
# Specific to the workspace layout: Secrets files holding env vars sourced sources by direnv
/**/*.secrets

# Nix build outputs:
/**/result
# Rust build outputs:
/**/target
# Node dependencies:
/**/node_modules

# IDEs and dev tools
/.idea/
/.vscode/
/.fleet/

# Jekyll specific exclusions
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

**/.DS_Store
.pre-commit-config.yaml
