use flake

if [ -f .env.secrets ]; then
    source .env.secrets
else
    cat <<EOF > .env.secrets
export TAILSCALE_AUTHKEY="YOUR_SECRET_HERE";
export TAILSCALE_TRAEFIK_HOST_FQDN="YOUR_HOSTNAME_FOLLOWED_BY_TAILNET_HERE";
EOF
fi